@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
body{
	font-family: 'Roboto', sans-serif;font-size: 15px;color: #666666;margin: auto
}
*{box-sizing: border-box}
.top-bar{
	width: 100%;height: 50px; background-color: #056CB6;color: white;line-height: 50px
}
.top-bar a{
	color: white
}
.top-bar a:hover{color:yellow}
main{
	width: 100%;min-height: auto
}
footer{
	margin-bottom: 0;width: 100%;height: auto;bottom: 0
}
.gach-chan{
	text-transform: uppercase;border-bottom: 2px solid #F8F29D
}
.navbar .navbar-nav .nav-item .nav-link{
	padding: 8px 10px;font-size: 25px;margin-right: 5px;margin-right: 10px
}
.navbar {
	padding-right: 5px
}
.navbar-brand{
	margin-right: 300px
}
.bottom-bar{
	background-color: #FFC107;width: 100%;height: 50px;margin-bottom: 0;line-height: 50px;
}
.container1{
	 width: 60%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: 80px;
  margin-right: auto;margin-bottom: 50px;
  margin-left: auto;
height: auto
}
.container2{
	 width: 50%;
  padding-right: 0px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
h2 a{
	text-decoration: none
}
h2 a:hover{
	color:yellow;
}
.banner{
	width: 100%;padding: 0;position: relative;
}
#banner1{
width: 100%;height: 300px;background: url("../images/pageheader.png");background-repeat: no-repeat;background-size:cover
}
.banner-text{
	width: auto;position: absolute;top:700;left: 100px;z-index: 600
}
.khauhieu{
	width: 50%;min-height:  300px
}
#client .hinh{
	position: relative
}
#client .truoc{
	position: absolute;left: 0;top:0;padding:6px;background-color:#D0D0D0
}
#client .sau{
	position: absolute;left: 50%;top:0;padding:6px;background-color:#D0D0D0
}
#tintuc a{
	text-decoration: none;font-weight: bold;font-size: 20px
}
#tintuc a:hover{
	color:#ffc107
}
.navbar .navbar-nav .nav-item ul li{
	border-bottom: 1px solid black;
}

.navbar .navbar-nav .nav-item ul {
	margin-bottom: 0;margin-top: 0;padding-top: 0;padding-bottom: 0
}
.navbar{
	background-color: white
}
.navbar .navbar-nav .nav-item .dropdown-item{
	background-color:white
}
.navbar .navbar-nav .nav-item .dropdown-item:hover{
	background-color: #ffc107
}
.formcontrol{
	padding: 0;margin-right: 30px;margin-bottom: 10px
}
.thongtin{
	width: 100%;
}
.vien-den{
	border: 1px solid rgba(10,0,0,1.00);border-radius: 8px;padding: 5px
}